{% extends 'base/base-page.html' %}

{% block page_content %}
    <form class="form-horizontal" method="post" action="{% url 'register user' %}">
        <div class="form-group">
            <label class="control-label col-sm-2" for="usr">First Name:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="usr" name="first_name" placeholder="Enter First Name">
            </div>

        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="usr">Last Name:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="usr" name="last_name" placeholder="Enter Last Name">
            </div>

        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="email">Email address:</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" id="email" name="email" placeholder="Enter Email">
            </div>

        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="pwd">Password:</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="pwd" name="password1" placeholder="Enter Password">
            </div>

        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="pwd">Repeat Password:</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="pwd" name="password2" placeholder="Repeat Password">
            </div>

        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </div>
        {% csrf_token %}
    </form>

{% endblock %}
