.card {
    border: 1px solid black;
    box-shadow: 0px 0px 10px #ddd;
}

.recipe-card {
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.btn {
    border-radius: 0;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

.back-to-list-btn {
    color: #6c757d;
}

.like-btn {
    color: #6c757d;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}

.comment-btn {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.search-btn {
    font-size: 15px;
    padding: 5px 10px;
}

@media (min-width: 768px) {
    .navbar-form.navbar-left {
        margin-left: 0;
    }
}


.navbar-nav > li {
    float: left;
}

.navbar-nav {
    float: left;
    margin: 0;
    padding: 0;
    list-style: none;
}

.navbar-header {
    float: left;
}

.search-result {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.search-result i {
    font-size: 2rem;
    margin-right: 1rem;
}

.search-result::before {
    content: "";
    display: inline-block;
    width: 0.5rem;
    height: 0.5rem;
    background-color: #444;
    margin-right: 1rem;
}
