{% extends 'base/base-page.html' %}

{% block page_content %}
    <div class="container">
        {% if not recipes %}
            <p>No recipes created yet!</p>
        {% else %}
            {% for recipe in recipes %}
                <div class="row">
                    <div class="col-md-8">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">{{ recipe.title }}</h3>
                            </div>
                            <div class="panel-body">
                                <div class="media">
                                    <div class="media-left">
                                        <a href="#">
                                            <img class="media-object" src="{{ recipe.recipe_picture.url }}"
                                                 alt="{{ recipe.title }} Image" style="max-width: 200px;">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <p>{{ recipe.description|truncatechars:190 }}</p>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <button class="btn btn-default like-btn" data-id="{{ recipe.id }}">
                                                    <span class="glyphicon glyphicon-thumbs-up"></span>
                                                    Like <span class="likes-count">{{ recipe.likes.count }}</span>
                                                </button>
                                            </div>
                                            <div class="col-md-6 text-right">
                                                <a href="{% url 'recipe details' recipe.id %}"
                                                   class="btn btn-primary float-right"><span
                                                        class="glyphicon glyphicon-eye-open"></span> See Details</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
